.App {
  text-align: center;
}

.page-content {
  max-width:1024px;
  margin: 0 auto;
}

.hero-banner {
  height:40vh;
  width:100%;
  background:#444;
  color:#fff;
}

/*TEAM PAGE*/

.people-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.people-grid > div {
  background-color: #444;
  color:#fff;
}